@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>My Contact</h3>

<address>
    Ngo Quyen Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0101
</address>

<address>
    <strong>Support:</strong>   
    <a href="https://mail.google.com/mail/u/1/#inbox">NguyenQuyKhanh@edu.com</a><br />
    <strong>Marketing:</strong>
    <a href="https://www.facebook.com/profile.php?id=100008172968147">NguyenThanhNhan@edu.com</a>
</address>